/* Import Google Fonts - Livvic font */
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/* These are the 3 core directives for Tailwind CSS to work. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* A basic body reset to remove the default centering from the Vite template
  and set a default font for the whole application.
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This ensures your app can correctly use flexbox layouts to fill the screen */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}